<div class="row">
  <div class="col-md-4">
    <h2>Severs list</h2>

    <table class="table table-condensed table-hover" data-ng-show="serverFilteredItems > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Server Name</th>
          <!-- <th>API Token</th>
          <th>Created</th>
          <th>Updated</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="server in filtered = (servers | filter:search | orderBy:predicate:reverse) | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
          <td><b>{{server.id}}</b></td>
          <td><a ui-sref="servers.detail({server_id:server.id})" class="no-underline">{{server.server_name}}</a></td>
          <!-- <td>{{user.password}}</td>
          <td>{{user.api_token}}</td>
          <td>{{user.created_at}}</td>
          <td>{{user.updated_at}}</td> -->
          <td>
            <a class="btn btn-default btn-xs no-underline" ui-sref="servers.detail({server_id:server.id})">View</a> |
            <a class="btn btn-default btn-xs no-underline" ui-sref="servers.edit({server_id:server.id})">Edit</a>
            <!-- <button class="btn btn-danger btn-xs" ng-click="delete_user(user)">Destroy</button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="6">
          <div class="col-md-12" data-ng-show="serverFilteredItems > 0">
            <div data-pagination="" data-page="currentPage" data-on-select-page="setPage(page)" data-boundary-links="true" data-total-items="serverFilteredItems" items-per-page="itemsPerPage" class="pagination-small pull-right" data-previous-text="&laquo;" data-next-text="&raquo;"></div>
          </div>
        </td>
      </tfoot>
    </table>
    <div class="col-md-12" data-ng-show="serverFilteredItems == 0">
      <div class="col-md-12">
        <h4>No servers found</h4>
      </div>
    </div>

    <!-- <a class="btn btn-primary" ui-sref="servers.new">Add New User</a> -->
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>

  <div ui-view class="col-md-8">Manage servers here, and view API data being streamed in. </div>
</div>