<div class="row">
  <div class="col-md-4">
    <h2>Users list</h2>

    <table class="table table-condensed table-hover" data-ng-show="userFilteredItems > 0">
      <thead>
        <tr>
          <th><a ng-click="sort_by('id');">ID&nbsp;<i style="font-size:10px;" class="glyphicon glyphicon-sort"></i></a></th>
          <th><a ng-click="sort_by('last_name');">Name&nbsp;<i style="font-size:10px;" class="glyphicon glyphicon-sort"></i></a></th>
          <!-- <th>Password</th>
          <th>API Token</th>
          <th>Created</th>
          <th>Updated</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in filtered = (users | filter:search | orderBy:predicate:reverse) | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
          <td><b>{{user.id}}</b></td>
          <td><a ui-sref="users.detail({user_id:user.id})" class="no-underline">{{user.first_name}} {{user.last_name}}</a></td>
          <!-- <td>{{user.password}}</td>
          <td>{{user.api_token}}</td>
          <td>{{user.created_at}}</td>
          <td>{{user.updated_at}}</td> -->
          <td>
            <a class="btn btn-default btn-xs no-underline" ui-sref="users.detail({user_id:user.id})">View</a> |
            <a class="btn btn-default btn-xs no-underline" ui-sref="users.edit({user_id:user.id})">Edit</a>
            <!-- <button class="btn btn-danger btn-xs" ng-click="delete_user(user)">Destroy</button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="6">
          <div class="col-md-12" data-ng-show="userFilteredItems > 0">
            <div data-pagination="" data-page="currentPage" data-on-select-page="setPage(page)" data-boundary-links="true" data-total-items="userFilteredItems" items-per-page="itemsPerPage" class="pagination-small pull-right" data-previous-text="&laquo;" data-next-text="&raquo;"></div>
          </div>
        </td>
      </tfoot>
    </table>
    <div class="col-md-12" data-ng-show="userFilteredItems == 0">
      <div class="col-md-12">
        <h4>No users found</h4>
      </div>
    </div>

    <a class="btn btn-primary" ui-sref="users.new">Add New User</a>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>

  <div ui-view class="col-md-8">
  Manage user accounts here, and the servers attached to them.
  </div>
</div>