<div class="row">
  <div class="col-md-4">
    <h2>Users list</h2>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <!-- <th>Password</th>
          <th>API Token</th>
          <th>Created</th>
          <th>Updated</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | limitTo: 15">
          <td><b>{{user.id}}</b></td>
          <td><a ui-sref="users.detail({user_id:user.id})" class="no-underline">{{user.username}}</a></td>
          <!-- <td>{{user.password}}</td>
          <td>{{user.api_token}}</td>
          <td>{{user.created_at}}</td>
          <td>{{user.updated_at}}</td> -->
          <td>
            <a class="btn btn-default btn-xs no-underline" ui-sref="users.detail({user_id:user.id})">View</a> |
            <a class="btn btn-default btn-xs no-underline" ui-sref="users.edit({user_id:user.id})">Edit</a>
            <!-- <button class="btn btn-danger btn-xs" ng-click="delete_user(user)">Destroy</button> -->
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td>

        </td>
      </tfoot>
    </table>

    <a class="btn btn-primary" ui-sref="users.new">Add New User</a>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>

  <div ui-view class="col-md-8"></div>
</div>